.testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #495e57;
    text-align: center;
    padding-top: 1em;
  }

  .testimonial-header {
    font-family: "Markazi Text", serif;
    font-size: 45px;
    font-weight: 700;
    width: 100%;
    color: #f4ce14;
    text-align: center;
    margin-top: -50px;
  }

  .review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .review {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 2em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
  }

  .review p {
    font-family: "Karla", sans-serif;
  }

  @media (max-width: 1050px) {
    .review p {
      margin: 1em;
    }
  }

  #profile {
    width: 30%;
    border-radius: 50%;
    margin: 1em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  }

  #rating {
    width: 50%;
    display: block;
    margin: 10px auto;
  }

  .review h2 {
    font-family: "Markazi Text", serif;
    font-size: 25px;
    color: #000;
    text-align: center;
    margin: 0.1em;
  }